body {
    margin: 0;
    padding: 0;

}
header{
background-image: url("pictures/background.jpg");
color: white;
padding: 50px;
text-align: center;
font-size: 22px;
}


.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size:40px;
    background-color:black;
    gap: 10px; 
    padding: 50px;
}
.grid > div{
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
    font-size: 10px;
}       

.grid-container1 {
   text-align: center;
   background-color: whitesmoke;
    padding: 40px;
}

span{
   font-size: 22px;
   text-align: center;
   padding: 40px;
}

.me {
   display: grid;
   grid-template-columns: auto auto;
   color: white;

}
footer{
   display: grid;
   grid-template-columns: auto auto;
   background-color: black;
   color: white;
   padding: 30px;
}